<ul>
  <ng-container *ngFor="let item of files; let i = index">
    <h2 *ngIf="isNewDate(i)">{{parseDate(item)}}</h2>
    <tara-image-thumbnail [file]="item" (showDetails)="handleImgDetails($event)"></tara-image-thumbnail>
  </ng-container>
</ul>
<tara-image-details [file]="detailsFile" *ngIf="detailsVisibility" (onClose)="handleCloseDetails()"
  (onDelete)="handleImageDelete($event)" (onChangeRequest)=" handleChangeImage($event)"></tara-image-details>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>