form {
  --input-focus: hsl(147, 87%, 26%);
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: beige;
  --main-color: black;
  padding: 20px;
  background: rgb(178 224 242);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

header {
  color: var(--font-color);
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 25px;
}

header span {
  color: var(--font-color-sub);
  font-weight: 600;
  font-size: 17px;
}

input {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}

input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

input:focus {
  border: 2px solid var(--input-focus);
}

.error {
  color: rgb(172, 1, 1);
  padding-block: 0;
}

button {
  margin: 50px auto 0 auto;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
}

button.loading,
button:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

a {
  color: black;
  text-decoration: none;
  margin-inline: auto;
}

a:focus,
a:hover {
  text-decoration: underline;
}

a:active {
  outline-offset: 1px;
  outline: 1px solid;
}