.wrapper {
  position: fixed;
  z-index: 9;
  background-color: black;
  border: darkgoldenrod;
  inset: 0;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-inline: 8px;
}

header h1 {
  flex: 1;
}

main {
  display: grid;
  place-content: center;
  height: 100dvh;
  width: 100%;
  padding-inline: 8px;
}

img {
  width: auto;
  margin-inline: auto;
  display: block;
  max-width: 100%;
  max-height: 100dvh;
}

.delete_alert {
  position: fixed;
  min-width: min(100%, 300px);
  min-height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: cadetblue;
  border-radius: 8px;
  display: grid;
  place-content: center;
}