<div class="wrapper">
  <header>
    <div class="actions">
      <button (click)="handleDeleteAlert()">Eliminar</button>
      <button (click)="handleClose()">Cerrar</button>
      <button (click)="handlePrevious()">Go back</button>
      <button (click)="handleNext()">Go next</button>
    </div>
  </header>
  <main>
    <img src={{src}} alt="">
  </main>
  <footer></footer>
</div>
<div class="delete_alert" *ngIf="deleteAlertVisibility">
  <header>Cuidado! Borrar??</header>
  <div class="actions">
    <button (click)="deleteAlertVisibility = false;">Cancelar</button>
    <button (click)="handleDelete()">Borrar</button>
  </div>
</div>