header {
  align-items: center;
  border-block-end: 1px solid;
  display: flex;
  gap: 8px;
  justify-content: space-between;
  padding: calc(var(--spacing) * 0.75) var(--spacing);
  width: 100%;
}

nav {
  align-items: center;
  display: flex;
  gap: var(--spacing);
  justify-content: flex-end;
}

.title {
  font-size: 28px;
}