header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: bisque;
  padding: calc(var(--spacing) * 0.75) var(--spacing);
  gap: 8px;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--spacing);
}

.title {
  font-size: 28px;
}