.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 86px;
  z-index: 1;
}

.template {
  display: flex;
  width: 100%;
  column-gap: var(--spacing);
  position: relative;
  padding-block-start: 86px;
}

.template aside {}

.template main {
  flex: 1;
}

main:not(.barebones) {
  overflow-y: auto;
  height: calc(100dvh - 86px);
}