<div class="wrapper">
  <tara-image-details-header (onClose)="handleClose($event)" (onDownload)="handleDownload($event)"
    (onDelete)="handleDeleteAlert($event)" />
  <main>
    <tara-button [round]="true" theme="dark" class="left" (click)="handlePrevious($event)">
      <img src="/assets/caret-left.svg" alt="previous" />
    </tara-button>
    <img src={{src}} alt="" class="image">
    <tara-button [round]="true" theme="dark" class="right" (click)="handleNext($event)">
      <img src="/assets/caret-right.svg" alt="next" />
    </tara-button>
  </main>
  <footer></footer>
</div>
<tara-image-delete-dialog [visible]="isDialogVisible" (onCancel)="isDialogVisible = false"
  (onConfirm)="handleDelete($event)" />