.wrapper {
  position: fixed;
  z-index: 9;
  background-color: black;
  border: darkgoldenrod;
  inset: 0;
}



main {
  display: grid;
  place-content: center;
  height: 100dvh;
  width: 100%;
  padding-inline: 8px;
  position: relative;
}

main .image {
  width: auto;
  margin-inline: auto;
  display: block;
  max-width: 100%;
  max-height: 100dvh;
}

main tara-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  & img {
    filter: invert(1);
  }
}

main tara-button.left {
  left: 16px;
}

main tara-button.right {
  right: 16px;
}