/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: "Ubuntu", 'Courier New', Courier, monospace;
  --spacing: 24px;
  overflow: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}